@(message: String)
<!-- タイトル -->
@main("ページタイトル") {
<!DOCTYPE html>

<html lang="ja">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>

	<body>
		<h2>ログイン画面</h2>
		<form action="/form_sample" method="get">
		<table border = 0>
		<tr>
    		<td align="right"><b>ユーザ名：</b></td>
    		<td><input type="text" name="name" size="30" maxlength="20"></td>
  		</tr>
 		<tr>
    		<td align="right"><b> パスワード：</b></td>
    		<td><input type="password" name="pass" size="6" maxlength="4"></td>
  		</tr>
		</table>
		<input type="submit" value="ログイン"/>
		</form>
		<div></div>
	</body>
</html>


}
